.container {
  font-size: 14px;
}

.homeContainer {
  padding: 2.5rem 4rem;
}

.inputContainer {
  padding:0 0 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.inputContainer > * {
  outline: none;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 8px rgba(0,0,0,.2);
  border: none;
}

.inputSearch{
  padding-right: 18rem;
}

.countriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
}

.countryItem {
  box-shadow: 0px 0px 8px rgba(0,0,0,.2);
}

.countryInfo {
  padding: 1rem 2rem;
}

.countryName {
  font-weight: var(--f-large);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.countryPopulation span,
.countryRegion span, 
.countryCapital span {
  font-weight: var(--f-mid);
  line-height: 1.5;
}